<mat-dialog-content>

    @if(dataInj.userStatus){

    <p>¿Desea desactivar las peticiones?</p>
    <mat-card appearance="outlined">
        <mat-card-content>Para desactivar las peticiones de formma indefinida deje la fecha en blanco</mat-card-content>
        <mat-card-content>Para desactivarla temporalmente, elija fecha de reincorporación</mat-card-content>
    </mat-card>
    <form [formGroup]="nextOrderDate">
        <mat-form-field>
            <mat-label>Fecha primera petición</mat-label>
            <input required matInput [matDatepicker]="picker" formControlName="next_order" class="form-control">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </form>

    }@else{
    <p>¿Desea desactivar las peticiones?</p>
    <mat-card appearance="outlined">
        <mat-card-content>Para activar las peticiones, seleccione primer día de trabajo</mat-card-content>
    </mat-card>
    <form [formGroup]="nextOrderDate">
        <mat-form-field>
            <mat-label>Fecha primera petición</mat-label>
            <input required matInput [matDatepicker]="picker" formControlName="next_order" class="form-control">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </form>
    }
    <button (click)="onNoClick()" mat-flat-button style="background-color: red;">Cerrar</button>
    <button (click)="saveChanges()" mat-flat-button>Guardar cambios</button>
</mat-dialog-content>