<h2 mat-dialog-title>Crear usuario</h2>
<mat-dialog-content>
  <form [formGroup]="signin">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput required formControlName="name" class="form-control">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Apellidos</mat-label>
    <input matInput required formControlName="surname" class="form-control">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nº Teléfono</mat-label>
    <input matInput required formControlName="phone_number" class="form-control">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email personal</mat-label>
    <input matInput required formControlName="personal_email" class="form-control">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email ADIF</mat-label>
    <input matInput required formControlName="adif_email" class="form-control">
  </mat-form-field><!-- 
  
  <mat-form-field >
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput formControlName="password" class="form-control">
  </mat-form-field> -->
  <mat-form-field>
    <mat-label>Fecha primera petición</mat-label>
    <input required matInput [matDatepicker]="picker" formControlName="first_order" class="form-control">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button>Cancelar</button>
  <button mat-button (click)="register()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
