@if (!modify) {
<h2 mat-dialog-title>Consultar próxima petición</h2>
}@else {
<h2 mat-dialog-title>Modificar próxima petición</h2> }
<mat-dialog-content>
    <table>
        <tr>

            @for (item of dataSource; track item.id) {
            <th style="background-color: darkolivegreen;color: white;">{{ item.date }}</th>
            }
        </tr>
        <tr>
            @if (!modify) {
                @for (item of dataSource; track item.id) {
                    @if (item.shift==="M") {
                    <th style="background-color: aqua;">{{ item.shift }}</th>
                    }@if (item.shift==="T") {
                    <th style="background-color: chocolate;">{{ item.shift }}</th>
                    }@if (item.shift==="N") {
                    <th style="background-color: cornflowerblue;">{{ item.shift }}</th>
                    }
                    }
            }@else{
                @for (item of dataSource; track item.id) {
                    <th >
                    <select #shifts name="select" (change)="onChange(shifts.value,item.date)">
                        <option  value="T" selected>{{ item.shift }}</option>
                        <option value="M">M</option>
                        <option value="T" >T</option>
                        <option value="N">N</option>
                      </select>
                    </th>
                }
            }
            
        </tr>
    </table>

    <button (click)="onNoClick()" mat-flat-button style="background-color: red;">Cerrar</button>
    @if (modify) {
    <!-- <button (click)="onNoClick()" mat-flat-button style="background-color: red;">Descartar cambios</button> -->
    <button (click)="saveChanges()" mat-flat-button>Guardar cambios</button>
    }
</mat-dialog-content>